[class*="col-"] {
    margin: auto;
}

.active.searchbutton {
    background-color: #a02236;
}

.jumbotron {
    background: #ffffff;
    text-align: center;
}

.row {
    padding: 2em;
}

.blanksection {
    height: 12em;
}

.searchbutton {
    background-color: #a02236;
}

.form-control {
    size = 2em;
}

.enrollchart {
    height: 500px;
    width: 900px;
    margin: auto;
}

table {
    margin-top: 1.5em;
}

